<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BGT</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

</head>
<body>

<h3>Conformance</h3>

<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Conformance</th>

    </tr>
    </thead>

    <tbody>
    {{range  $i, $link := .}}
        <tr {{if isOdd $i}}class="pure-table-odd" {{end}}>
            <td>{{$link}}</td>
        </tr>
    {{end}}
    </tbody>

</table>


</body>
</html>