<!DOCTYPE html>
<html lang="en">
{{$result:= index . "result"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conformance</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 20px;
            background: #fafafa;
        }
    </style>

</head>
<body>

<h3>Conformance</h3>

<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Conformance</th>

    </tr>
    </thead>

    <tbody>
    {{range  $i, $link := $result}}
        <tr {{if isOdd $i}}class="pure-table-odd" {{end}}>
            <td>{{$link}}</td>
        </tr>
    {{end}}
    </tbody>

</table>


</body>
</html>